/*body style*/
body {
  margin: 50px;
  padding: 0%;
  font-family: 'Tiro Devanagari Sanskrit', serif;
  font-size: 10px;
  line-height: 1.5;
  background-image: url(https://cdn.glitch.global/6b3dea54-2620-44a3-a9f1-1db203314cd0/bobby-rahe-gkf1w-Y_Ub0-unsplash.jpg?v=1655451818598) ;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
/*navbar style*/
.nav-section {
  background-image: url();
  width: 100%;
  text-align: center;
  padding: 16px;
}
ul {
  list-style-type: none;
  display: inline-flex;
}

li a {
  margin-right: 100px;
  color: rgb(197, 178, 9);
}
 