/*body style*/
body {
  margin: 50px;
  padding: 0%;
  font-family: 'Tiro Devanagari Sanskrit', serif;
  font-size: 10px;
  line-height: 1.5;
  background-image: url(images/bobby-rahe-hJbRHIzTvto-unsplash.jpg) ;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
/*navbar style*/
.nav-section {
  background-image: url();
  width: 100%;
  text-align: center;
  padding: 16px;
}
ul {
  list-style-type: none;
  display: inline-flex;
}

li a {
  margin-right: 40px;
  color: rgb(197, 178, 9);
}
 